[user]
	email = kevin.mok@live.ca
	name = Kevin Mok
	signingkey = AEA75288DC135CF5
[color]
	ui = auto
[core]
	editor = nvim
[push]
	default = simple
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[diff]
	tool = vimdiff
[commit]
	gpgsign = true
[alias]
	a = add
	c = commit
	ch = checkout
	d = diff
	f = fetch
	l = log
	m = merge
	pl = pull
	ps = push
	s = status
	st = stash
	r = remote
