snippet alias "Custom alias"
alias ${1:name}="${2:cmd}"
endsnippet

snippet 1lf "One-line function"
${1:name}() { ${2:cmd} ; } 
endsnippet

snippet mlf "Multi-line function"
${1:name}() { 
	${2:cmd} 
} 
endsnippet

snippet ltx "LaTeX" i
LaTeX
endsnippet
