/* dpi [[[ */

Xft.dpi: 135
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

/* ]]]  dpi */

/* font [[[ */

{{ if eq .chezmoi.fullHostname "x1-carbon" }}
URxvt.font: xft:DejaVuSansMono Nerd Font Mono:size=11
! URxvt.font: xft:DejaVuSansMono Nerd Font Mono:size=12
{{ else }}
! URxvt.font: xft:DejaVuSansMono Nerd Font Mono:size=15
! URxvt.font: xft:DejaVuSansMono Nerd Font Mono:size=14
! URxvt.font: xft:DejaVuSansMono Nerd Font Mono:size=13.5
URxvt.font: xft:DejaVuSansMono Nerd Font Mono:size=12
{{ end }}
! URxvt.font: xft:Hack:size=18

/* resize [[[ */

URxvt.resize-font.step: 4
URxvt.keysym.C-Down:     resize-font:smaller
URxvt.keysym.C-Up:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

/* ]]] resize */

/* ]]] font */

/* transparency [[[ */

URxvt*transparent: true
/* transparency */
URxvt*inheritPixmap: true
! URxvt*transparent: false
! URxvt*shading: 0 (blackest) to 99 black, 101 to 200 (whitest) white
URxvt*shading: 40
! URxvt*shading: 35
! urxvt*blurRadius: 10

/* ]]] transparency */

/* scrollBar [[[ */

URxvt.scrollBar: false
! URxvt.scrollBar: true
! URxvt*scrollBar_right: true

/* ]]] scrollBar */

/* Clickable URLs [[[ */

URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

/* ]]] Clickable URLs */

! vim: fdm=marker ft=xdefaults.go-template
