/* font [[[ */

{{ if eq .chezmoi.fullHostname "x1-carbon" }}
! URxvt.font: xft:DejaVuSansMono Nerd Font Mono:size=11
URxvt.font: xft:DejaVuSansMono Nerd Font Mono:size=12
{{ else }}
URxvt.font: xft:DejaVuSansMono Nerd Font Mono:size=14
{{ end }}
! URxvt.font: xft:Hack:size=18

/* ]]] font */

/* transparency [[[ */

URxvt*transparent: true
/* transparency */
URxvt*inheritPixmap: true
! URxvt*transparent: false
! URxvt*shading: 0 (blackest) to 99 black, 101 to 200 (whitest) white
URxvt*shading: 40
! URxvt*shading: 35
! urxvt*blurRadius: 10

/* ]]] transparency */

/* scrollBar [[[ */

URxvt.scrollBar: false
! URxvt.scrollBar: true
! URxvt*scrollBar_right: true

/* ]]] scrollBar */

/* Clickable URLs [[[ */

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

/* ]]] Clickable URLs */

/* HiDPI  [[[ */

{{ if eq .chezmoi.fullHostname "x1-carbon" }}
Xft.dpi: 210
{{ else }}
Xft.dpi: 101
{{ end }}
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

/* ]]] HiDPI  */

# vim: fdm=marker ft=xdefaults.go-template
