xrandr --setprovideroutputsource modesetting NVIDIA-0
[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources
# xrandr --auto
xmodmap ~/.Xmodmap
redshift -O 2000
xset r rate $XSET_DELAY $XSET_RATE
# exec /home/kevin/Downloads/dwm/reload-dwm.sh

{{ if eq .chezmoi.fullHostname "nzxt" }}
dunst &
compton -b
imwheel &
numlockx on &
start-pulseaudio-x11 &

wal -i "$(/home/kevin/scripts/shuffler \"$HOME/Pictures/Backgrounds/dim/non-editing\")" && /home/kevin/st/make-st.sh &
{{ end }}
exec i3

# # Statusbar loop
# while true; do
   # xsetroot -name "$( date +"%R.%a-%m-%d" )"
   # sleep 1m    # Update time every minute
# done &

# # wal -i $(/home/kevin/scripts/shuffler "$HOME/Pictures/Backgrounds/dim/non-editing") &
# wal -i "$HOME/Pictures/Backgrounds/dim/editing/captain-marvel.jpg" &
# exec dwm

# vim: ft=conf.go-template
