# vim: fdm=indent

# sys *
  bg {{ .chezmoi.homedir }}/Pictures/Backgrounds
  c {{ .chezmoi.homedir }}/{{ .chezmoi.os }}-config
  cf {{ .chezmoi.homedir }}/.config
  d  {{ .chezmoi.homedir }}/Downloads
  D  {{ .chezmoi.homedir }}/Documents
  fo {{ .chezmoi.homedir }}/.config/fish
  k {{ .chezmoi.homedir }}/
  lf /mnt/{{ .chezmoi.os }}-files
  lfv /mnt/{{ .chezmoi.os }}-files/Videos
  me /run/media/{{ .chezmoi.group }}
  o /
  p {{ .chezmoi.homedir }}/.password-store
  P {{ .chezmoi.homedir }}/Pictures
  sw {{ .chezmoi.homedir }}/.local/share/nvim/swap/
  tm /tmp
# sys *

b1 {{ .chezmoi.homedir }}/coding/mf-site/themes/base16
# cdn *
  cn {{ .chezmoi.homedir }}/coding
  ib {{ .chezmoi.homedir }}/{{ .chezmoi.os }}-config/i3blocks/.config/i3blocks/scripts
  j {{ .chezmoi.homedir }}/Documents/journal
  lh {{ .chezmoi.homedir }}/Documents/listening-history
  ms {{ .chezmoi.homedir }}/coding/mf-site
  mh {{ .chezmoi.homedir }}/coding/mf-site/layouts
  # mg {{ .chezmoi.homedir }}/coding/best-mf-site-personal
  ra {{ .chezmoi.homedir }}/.config/ranger
  sr {{ .chezmoi.homedir }}/{{ .chezmoi.os }}-config/scripts
  snp {{ .chezmoi.homedir }}/.vim/plugged/vim-snippets/UltiSnips
  sv {{ .chezmoi.homedir }}/coding/spotify-lib-vis/src
  swa {{ .chezmoi.homedir }}/.local/share/nvim/swap
  tx {{ .chezmoi.homedir }}/{{ .chezmoi.os }}-config/txt
  wd {{ .chezmoi.homedir }}/.config/watson
  wo {{ .chezmoi.homedir }}/Documents/workout-logs/11
# cdn *

lt {{ .chezmoi.homedir }}/school/latex-notes
# sch *
  # 309
    sc {{ .chezmoi.homedir }}/school
    0c {{ .chezmoi.homedir }}/school/309-proj/css
    0d {{ .chezmoi.homedir }}/school/309
    0j {{ .chezmoi.homedir }}/school/309-proj/public/js
    0l {{ .chezmoi.homedir }}/school/309/l
    0p {{ .chezmoi.homedir }}/school/309-proj
    0m {{ .chezmoi.homedir }}/school/309-proj/mongo
    e4 {{ .chezmoi.homedir }}/school/309/e4

  6 {{ .chezmoi.homedir }}/school/369
  6l {{ .chezmoi.homedir }}/school/369/notes/lectures

  hp {{ .chezmoi.homedir }}/school/hps
# sch *
