# vim: fdm=marker ft=sh.go-template syntax=sh

# sys [[[ #

3 ~/linux-config/dot_config/i3/config.tmpl
a ~/linux-config/key_aliases.tmpl
d ~/linux-config/key_dirs.tmpl
dw ~/dwm/config.def.h
f ~/linux-config/key_files.tmpl
hs ~/.local/share/fish/fish_history
p ~/linux-config/txt/pacman-pkgs/pacman-pkgs.txt
r ~/linux-config/dot_config/ranger/rc.conf.tmpl
sr ~/linux-config/configs/ranger/shortcuts.conf
ss ~/.shortcuts
st ~/st/config.def.h
u ~/linux-config/dot_Xresources.tmpl
v ~/linux-config/dot_vimrc.tmpl
x ~/linux-config/dot_config/fish/config.fish.tmpl
xi ~/linux-config/dot_xinitrc
y ~/.zshrc
z ~/linux-config/aliases/zsh_aliases

# ]]] sys #

# cdn [[[ #

adt ~/coding/ada-mario-prep/txt/todo.md
cm /tmp/commit-msg.txt
bid ~/coding/project-ideas/blog.md
ci ~/linux-config/txt/ideas.md
cmd ./commit-msg.txt
hlg ~/coding/spotify-lib-vis/src/api/management/commands/update-history.log
id ~/coding/project-ideas/ideas.md
ig ./.gitignore
jn ~/Documents/journal/todo/2.md
jt ~/Documents/journal/todo/todo.md
lh ~/Documents/listening-history/polarbier.csv
mc ~/coding/mf-site/assets/sass/main.scss
mi ~/coding/mf-site/ideas.md
ne ~/linux-config/configs/neofetch/config.conf
re README.md
t todo.md
tt txt/todo.md
tm ~/.vim/plugged/vim-snippets/UltiSnips/texmath.snippets
wh ~/Documents/journal/todo/work-habit.md
wt ~/.config/watson/state.tmp

# ]]] cdn #

# sch [[[ #

# 309 [[[ #

0c ~/school/309-proj/sass/main.scss
0h ~/school/309-proj/public/js/helpers.js
0i ~/school/309-proj/public/index.html
0m ~/school/309-proj/public/js/main.js
0f ~/school/309-proj/public/js/food.js
0s ~/school/309-proj/server.js
0t ~/school/309-proj/public/js/stores.js
0k ~/school/309-proj/json/{{ .chezmoi.group }}.md

# ]]] 309 #

# ]]] sch #
