# vim: fdm=indent

# sys *
  3 ~/{{ .chezmoi.os }}-config/dot_config/i3/config.tmpl
  a ~/{{ .chezmoi.os }}-config/key_aliases.tmpl
  dr ~/{{ .chezmoi.os }}-config/key_dirs.tmpl
  f ~/{{ .chezmoi.os }}-config/key_files.tmpl
  i {{ .chezmoi.homedir }}/.config/i3blocks/i3blocks.conf
  p {{ .chezmoi.homedir }}/{{ .chezmoi.os }}-config/txt/pacman-pkgs/pacman-pkgs.txt
  r {{ .chezmoi.homedir }}/linux-config/dot_config/ranger/rc.conf
  sr {{ .chezmoi.homedir }}/{{ .chezmoi.os }}-config/configs/ranger/shortcuts.conf
  ss {{ .chezmoi.homedir }}/.shortcuts
  u {{ .chezmoi.homedir }}/.Xresources
  v {{ .chezmoi.homedir }}/linux-config/dot_vimrc
  x ~/{{ .chezmoi.os }}-config/dot_config/private_fish/config.fish
  y {{ .chezmoi.homedir }}/.zshrc
  z {{ .chezmoi.homedir }}/{{ .chezmoi.os }}-config/aliases/zsh_aliases
# sys *

cm /tmp/commit-msg.txt
# cdn *
  bid {{ .chezmoi.homedir }}/coding/project-ideas/blog.md
  ci {{ .chezmoi.homedir }}/{{ .chezmoi.os }}-config/txt/ideas.md
  cmd ./commit-msg.txt
  hlg {{ .chezmoi.homedir }}/coding/spotify-lib-vis/src/api/management/commands/update-history.log
  id {{ .chezmoi.homedir }}/coding/project-ideas/ideas.md
  ig ./.gitignore
  jn {{ .chezmoi.homedir }}/Documents/journal/todo/2.md
  jt {{ .chezmoi.homedir }}/Documents/journal/todo/todo.md
  lh {{ .chezmoi.homedir }}/Documents/listening-history/polarbier.csv
  mc {{ .chezmoi.homedir }}/coding/mf-site/assets/sass/main.scss
  mi {{ .chezmoi.homedir }}/coding/mf-site/ideas.md
  ne {{ .chezmoi.homedir }}/{{ .chezmoi.os }}-config/configs/neofetch/config.conf
  re README.md
  t todo.md
  tt txt/todo.md
  tm {{ .chezmoi.homedir }}/.vim/plugged/vim-snippets/UltiSnips/texmath.snippets
  wh {{ .chezmoi.homedir }}/Documents/journal/todo/work-habit.md
  wt {{ .chezmoi.homedir }}/.config/watson/state.tmp
# cdn *

0c {{ .chezmoi.homedir }}/school/309-proj/sass/main.scss
# sch *
# 309 *
  0h {{ .chezmoi.homedir }}/school/309-proj/public/js/helpers.js
  0i {{ .chezmoi.homedir }}/school/309-proj/public/index.html
  0m {{ .chezmoi.homedir }}/school/309-proj/public/js/main.js
  0f {{ .chezmoi.homedir }}/school/309-proj/public/js/food.js
  0s {{ .chezmoi.homedir }}/school/309-proj/server.js
  0t {{ .chezmoi.homedir }}/school/309-proj/public/js/stores.js
  0k {{ .chezmoi.homedir }}/school/309-proj/json/{{ .chezmoi.group }}.md
# sch *
