# vim: fdm=marker ft=sh.go-template syntax=sh

# sys [[[ #

bg ~/Pictures/Backgrounds
cf ~/.config
cff ~/.config/fish
d  ~/Downloads
dw ~/dwm
D  ~/Documents
k ~/
lc ~/linux-config
lf /mnt/linux-files
lfv /mnt/linux-files/Videos
me /run/media/{{ .chezmoi.group }}
o /
p ~/.password-store
P ~/Pictures
std ~/st
sw ~/.local/share/nvim/swap/
tm /tmp

# ]]] sys #

# cdn [[[ #

b1 ~/coding/mf-site/themes/base16
2d ~/coding/godot-demos/2d-plat
ad ~/coding/ada-mario-prep
cn ~/coding
ib ~/linux-config/dot_config/i3blocks/scripts
j ~/Documents/journal
lh ~/Documents/listening-history
mm ~/coding/move-mouse-with-head
ms ~/coding/mf-site
mh ~/coding/mf-site/layouts
# mg ~/coding/best-mf-site-personal
ra ~/linux-config/dot_config/ranger
sr ~/linux-config/scripts
snp ~/.vim/plugged/vim-snippets/UltiSnips
sv ~/coding/spotify-lib-vis/src
svg ~/coding/spotify-lib-vis/src/graphs/static/graphs/scripts
swa ~/.local/share/nvim/swap
tx ~/linux-config/txt
wd ~/.config/watson
wo ~/Documents/workout-logs/11

# ]]] cdn #

# sch [[[ #

lt ~/school/latex-notes

# 309 [[[ #

sc ~/school
0c ~/school/309-proj/css
0d ~/school/309
0j ~/school/309-proj/public/js
0l ~/school/309/l
0p ~/school/309-proj
0m ~/school/309-proj/mongo
e4 ~/school/309/e4

# ]]] 309 #

6 ~/school/369
6l ~/school/369/notes/lectures

hp ~/school/hps

# ]]] sch #
