snippet al "Align (math)" b
\begin{align*}
	$0
\end{align*}
endsnippet

snippet pwf "Piecewise function" b
\[
	${1:name} = \left.
	\begin{cases}
		${2:equation}, & ${3:condition} \\\\
	\end{cases}
	\right\\}
\]
endsnippet
