/home/kevin/.cache
/home/kevin/.local/share/Steam/steamapps/common
/home/kevin/.ACEStream
/home/kevin/.android
/home/kevin/.AndroidStudio3.3
/home/kevin/Android
{{ if eq .chezmoi.fullHostname "x1-carbon" }}
/home/kevin/coding/opencv
{{ end }}
/lost+found
/mnt
/proc
/run
/sys
/var/cache/pacman
/var/lib/systemd/coredump
