URxvt.font: xft:DejaVuSansMono Nerd Font Mono:size=14
! URxvt.font: xft:DejaVuSansMono Nerd Font Mono:size=9

! URxvt.font: xft:Hack Nerd Font:size=14
! URxvt.font: xft:Hack NF:size=18
! URxvt.font: xft:Hack:size=18

/* transparency {{{ */

URxvt*inheritPixmap: true
!
! URxvt*transparent: false
URxvt*transparent: true
!
! URxvt*shading: 0 (blackest) to 99 black, 101 to 200 (whitest) white
URxvt*shading: 40
! URxvt*shading: 35

/* }}} transparency */

URxvt.scrollBar: false

! Clickable URLs {{{ */
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
! }}} Clickable URLs */

/* HiDPI {{{ */

Xft.dpi: 101
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

/* }}} HiDPI */
